body{
    background: #304352;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: background-color 0.5s ease;
}
  

.banner {
    position: relative;
    height: 90vh;
    overflow: hidden;
  }
  
  .banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
  .container {
    margin-top: 70px; /* La altura de la barra de navegación */
  }
  .nosotros-img {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }
  .card:hover {
    transform: rotateY(180deg);
  }

  .main-content {
    margin-top: 80px; /* ajusta según sea necesario */
  }
  #servicios h2{
    display: flex;
    justify-content: center;
  }
  #servicios .card {
    height: 400px;
  }

  #servicios .card-title,
  #servicios .card-text {
    color: #fff;
  }
  .servicio-1 {
    background-image: url('C:/Users/tmenin/Desktop/proyectoNuevo/Mathipe2/img/Banner Roll Up 3.jpg');
    background-size: cover;
  }
  
  .servicio-2 {
    background-image: url('C:/Users/tmenin/Desktop/proyectoNuevo/Mathipe2/img/Banner Roll Up 3.jpg');
    background-size: cover;
  }
  
  .servicio-3 {
    background-image: url('C:/Users/tmenin/Desktop/proyectoNuevo/Mathipe2/img/Banner Roll Up 3.jpg');
    background-size: cover;
  }
  
  .servicio-4 {
    background-image: url('C:/Users/tmenin/Desktop/proyectoNuevo/Mathipe2/img/Banner Roll Up 3.jpg');
    background-size: cover;
  }
  .servicio-5 {
    background-image: url('C:/Users/tmenin/Desktop/proyectoNuevo/Mathipe2/img/Banner Roll Up 3.jpg');
    background-size: cover;
    margin-top: 15px;
  }
  .servicio-6 {
    background-image: url('C:/Users/tmenin/Desktop/proyectoNuevo/Mathipe2/img/Banner Roll Up 3.jpg');
    background-size: cover;
    margin-top: 15px;
  }
  .servicio-7 {
    background-image: url('C:/Users/tmenin/Desktop/proyectoNuevo/Mathipe2/img/Banner Roll Up 3.jpg');
    background-size: cover;
    margin-top: 15px;
  }
  .servicio-8 {
    background-image: url('C:/Users/tmenin/Desktop/proyectoNuevo/Mathipe2/img/Banner Roll Up 3.jpg');
    background-size: cover;
    margin-top: 15px;
  }
  .servicio-9 {
    background-image: url('C:/Users/tmenin/Desktop/proyectoNuevo/Mathipe2/img/Banner Roll Up 3.jpg');
    background-size: cover;
    margin-top: 15px;
  }
  .servicio-10 {
    background-image: url('C:/Users/tmenin/Desktop/proyectoNuevo/Mathipe2/img/Banner Roll Up 3.jpg');
    background-size: cover;
    margin-top: 15px;
  }